<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>wangying</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/app.css"/>

</head>
<body>

<header class="am-topbar am-topbar-fixed-top topbar-color">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="#"> 可视化轻量级Web服务聚合器 </a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="#">首页</a></li>
                <!--<li><a href="#">XX</a></li>-->
                <!--<li class="am-dropdown" data-am-dropdown>-->
                <!--<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">-->
                <!--下拉菜单 <span class="am-icon-caret-down"></span>-->
                <!--</a>-->
                <!--<ul class="am-dropdown-content">-->
                <!--<li class="am-dropdown-header">标题</li>-->
                <!--<li><a href="#">1. xx</a></li>-->
                <!--<li><a href="#">2. xx</a></li>-->
                <!--<li><a href="#">3. xx</a></li>-->
                <!--<li><a href="#">4. xx</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>

            <div class="am-topbar-right">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注册</button>
            </div>

            <div class="am-topbar-right">
                <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登录</button>
            </div>
        </div>
    </div>
</header>

<div class="get" >
    <div class="am-g" >
        <div class="am-u-lg-12 " >
            <br>
            <div class="threeD-container">
                <div>
                    <div class="jR3DCarouselGallery"></div>
                </div>
            </div>
            <!--<p class="get-introduce">-->
            <!--快一起来玩啊~-->
            <!--</p>-->
            <!--<br></br>-->
            <!--<div class="line line-r" ></div>-->
            <br>
            <div class="btn-bg">
                <div class="bt-wrapper">
                    <div class="l-c"></div>
                    <div class="r-c"></div>
                    <div class="line-body"></div>
                    <a class="createbtn" href="http://www.baidu.com">Try</a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="detail">

    <div class="am-g am-container">
        <div class="am-u-lg-12">
            <h2 class="detail-h2">人人都是应用开发者，期待和你一起实现！</h2>

            <!--加圆形悬停效果-->
            <section class="main">
                <ul class="ch-grid">
                    <div class="two-block">
                        <li>
                            <div class="ch-item ch-img-1">
                                <div class="ch-info">
                                    <h3>LSCE</h3>
                                    <!--<p>by xxx <a href="http://www.baidu.com">View</a></p>-->
                                    <p> <a href="/webmeemoo">View</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ch-item ch-img-2">
                                <div class="ch-info">
                                    <h3>ServLib</h3>
                                    <p><a href="/servicelib">View</a></p>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="two-block">
                        <li>
                            <div class="ch-item ch-img-3">
                                <div class="ch-info">
                                    <h3>easyapp</h3>
                                    <p><a href="http://www.baidu.com">View</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="ch-item ch-img-4">
                                <div class="ch-info">
                                    <h3>pizzaHub</h3>
                                    <p> <a href="/pizzahub">View</a></p>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </section>


            <!--下面四个介绍标签-->
            <section id="intro-grid" class="intro-grid clearfix">
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <img src="assets/image/intro1.jpg" />
                        <svg viewBox="0 0 179 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>LSCE</h2>
                            <p>自定义个性化专属服务。</p>
                            <button>View</button>
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <img src="assets/image/intro2.jpg" />
                        <svg viewBox="0 0 179 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>ServLib</h2>
                            <p>应有尽有的服务。</p>
                            <button>View</button>
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <img src="assets/image/intro3.jpg" />
                        <svg viewBox="0 0 179 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>easyapp</h2>
                            <p>为自己量身定做一个APP。</p>
                            <button>View</button>
                        </figcaption>
                    </figure>
                </a>
                <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                    <figure>
                        <img src="assets/image/intro4.jpg" />
                        <svg viewBox="0 0 179 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2>PizzaHub</h2>
                            <p>将所有信息一览无余。</p>
                            <button>View</button>
                        </figcaption>
                    </figure>
                </a>
            </section>


        </div>
    </div>

</div>

<footer class="footer">

    <p>© 2016届 <a href="http://www.xxxxxx.com" target="_blank">北京邮电大学本科生毕业设计 -- </a> <a href="http://www.xxxxx.com" target="_blank">《可视化轻量级Web服务聚合器的设计与实现》</a>. by 王颖.</p>
</footer>

<!--[if lt IE 9]>
<!--<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>-->
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/snap-svg.js"></script>
<script src="assets/js/app.js"></script>
<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jR3DCarousel.js"></script>

</body>
</html>

