<li class="brick shadow mapapi" id= <%= widgetid %>  ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="dragstart(event)" style="height:180px;padding=10px">
    <div id= <%= widgetid+"map" %> style='height:100%'></div>
    <a class='delete' href='#'>&times;</a>
</li>

               