<li class="brick" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="dragstart(event)">
    <div>
        <div>
            <h2><strong><%=title %></strong></h2>
    </div>
    <a class='delete' href='#'>&times;</a>
</li>