<li class="brick scrolltext" id=<%= widgetid %>  ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="dragstart(event)">
        <marquee class="shadow" style='HEIGHT: 180px; padding:10px; border:1px solid #ddd' scrollamount='2' direction='up' >
            <%- text %>
        </marquee>
    <a class='delete' href='#'>&times;</a>
</li>