<li class="brick video" id=<%= widgetid %>  ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="dragstart(event)">
        <embed class="shadow" src=<%= videosrc%> style:"width='295px'; height='180px';border:'1px solid #ddd';padding:'10px'" />
    <a class='delete' href='#'>&times;</a>
</li>